.gauge {
  position:relative; width:100px; height:50px;
  border-radius:50px 50px 0 0;
  background:#41b7d8;
  -webkit-transition: background .3s;
     -moz-transition: background .3s;
      -ms-transition: background .3s;
          transition: background .3s;
}
.gauge .frame { 
  height:50px;
}
.gauge .pointer {
  width:4px; height:90%; margin-left:-2px;
  position:absolute; z-index:1; bottom:0; left:50%;
  background:white; border-radius:4px;
  box-shadow:1px 1px 3px rgba(0,0,0,.3);
  
  -webkit-transition: -webkit-transform .3s ease 0s;
     -moz-transition:    -moz-transform .3s ease 0s;
      -ms-transition:     -ms-transform .3s ease 0s;
          transition:         transform .3s ease 0s;
  
  -webkit-transform: rotate(-90deg);
     -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  
  -webkit-transform-origin: bottom;
     -moz-transform-origin: bottom;
      -ms-transform-origin: bottom;
          transform-origin: bottom;
}
.gauge .pointer .pointer-cap {
  width:16px; height:16px;
  margin-bottom:-8px; margin-left:-8px;
  position:absolute; bottom:0; left:50%;
  background:white; border-radius:100%;
  box-shadow:1px 1px 5px rgba(0,0,0,.3);
}
.gauge .pointer .value {
  width:60px; margin-left:-30px;
  position:absolute; top:-25px;
  font-size:10px; text-align:center;
}
.gauge .labels {
  width:100%;
  position:absolute; top:100%;
  font-size:10px; text-align:right;
}
.gauge .labels .min { float:left; }

.gauge.exceeded { background:red; }
.gauge.exceeded .value { color:red; }

.value-exceeded { 
  width:100%; 
  position:absolute; top:60px; 
  font-size:11px; color:red; text-align:center; 
}

html, body { margin:20px; font:14px/18px Arial; color:#666; background:#f1f1f1; }
.form { margin:30px 0; }
input { max-width:100px; }
label { display:block; }